@charset "UTF-8";

/*
em HTML é id = em CSS é # (só pode 1 elemento)
em HTML é class = em CSS é .


*/
body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(6, 145, 1);
}

h2{
    color: rgb(100, 179, 96);
}

#principal{
    text-align: center;
    background-color: rgb(12, 131, 12);
    color: white;
}

.básico{
    color: rgb(107, 20, 20);
}

.intermediario{
    color: rgb(87, 30, 87);
}

.avançado{
    color: rgb(59, 19, 97);
}

.destaque{
    background-color: rgb(46, 95, 79);
}

